body {
    font-family: Arial, sans-serif;
    background-image: url('img/ascii-code-t.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 350px;
    margin: 10px auto;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(4, 240, 63, 0.918);
}
h1 {
    text-align: center;
    color: #f30a0a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.subtitle {
    color: #ff00c8;
    text-align: center;
}
input[type="number"],
input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 10px;
}

.label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    color: #555;
}
